# Ignore environment variables
.env

# Ignore virtual environment
jarvis_env/

# Ignore log files
logs/

# Ignore Jupyter notebooks
research.ipynb

# Ignore macOS specific files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc

# Audio Files
temp_audio.mp3

# Pdf files
Assignment5.pdf